
.ico{
	max-width:15%;
	height:auto;
  position: relative;
  left: 50px;
  }
	.iig{
		max-width: 30%;
    border-radius: 100%;
	}
/*ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: inline;
	position: absolute;
	right: 20px;
}
li {
  display: inline;
}*/
.container-fluid{
	background-color: cyan;
	padding: 3% 15%;
}
h1{
		font-size: 6em;
}
.btn{
	margin-bottom: 1%;
}
.h2{
	text-align: center;
}
.img{
	background-color: pink;
}
.row{
	margin:0}
	.mis{
		max-width: 70%;
		position:inherit;
	}
